@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Texturina:ital,wght@1,300&display=swap');


:root{
--primary-color:darkorange;
}

body{
    font-family: 'Nerko One', cursive;
    font-family: 'Texturina', serif;
    margin:auto;
}


.container-center{
    max-width: 600px;
    width: 80%;
    padding:1rem;
    margin:auto;
}

.hero{
    text-align: center;
    font-size: large;
    font-weight: bold;
    letter-spacing:0.1rem;
    background-color: var(--primary-color);
    padding:1rem;
    margin-bottom:1rem;
}

.input{
    display:block;
    height:20vh;
    padding:1rem;
    box-sizing:border-box;
    width:80%;
    max-width:600px;
    margin:auto;
    border:solid;
    font-size: large;
}

.output{
    box-sizing: border-box;
    border:solid;
    padding:1rem;
    height:20vh;
    width:80%;
    max-width:600px;
    margin:auto;
    font-size: large;
}

.button{
    background-color: var(--primary-color);
    border: solid;
    margin: auto;
    padding: 1rem;
    font-family: 'Kalam', cursive;
    font-size: medium;
    }
.footer{
    background-color: var(--primary-color);
    padding:1rem;
    text-align:center;
    margin-top:1rem;
    box-sizing: border-box;
    display: block;
    width:100%;
}

.footer-header{
    font-size: large;
    font-weight: bold;
    text-align: center;
    letter-spacing:0.1rem;
}